version: '3.8'

services:

  postgres:
    image: postgres:15
    container_name: payment-postgres
    environment:
      POSTGRES_DB: paymentdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  payment-service:
    build: .
    container_name: payment-service
    depends_on:
      - postgres
    environment:
      DB_URL: jdbc:postgresql://postgres:5432/paymentdb
      DB_USER: postgres
      DB_PASS: postgres
    ports:
      - "8080:8080"

volumes:
  pgdata:
