spring:
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/paymentdb
    username: postgres
    password: Y@shwanth9724

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: false

  application:
    name: microservices

server:
  port: 8080

app:
  jwt:
    secret: "this-is-a-very-long-super-secure-secret-key-which-is-more-than-32-chars"


